{% extends "base.html" %} {% block title %}Home{% endblock %} {% block head %}
{% endblock %} {% block content %}
<form action="/logout" method="post">
  <button type="submit" class="btn btn-warning logoutButton">
    <span class="optionLabel">Logout</span>
  </button>
</form>

<span class="categoryText">Choose Drink</span>
<span class="badge bg-success badgeText">Required</span>
<!-- ORDER FORM -->
<form action="/makeOrder" method="post">
  <!-- Radio Select Drink Option -->
  <div class="text-center verticalButtonLayout">
    {% for i in range(1,7) %}
    <label class="btn btn-outline-dark optionButton">
      <input type="radio" name="drink" value="{{i}}" />
      <div class="verticalButtonLayout">
        <span class="optionLabel"
          >{{drinkSetting["drink{}".format(i)]["name"]}}</span
        >
        <div class="priceText">
          ${{drinkSetting["drink{}".format(i)]["price"]}}
        </div>
      </div>
    </label>
    {% endfor %}
  </div>

  <!-- SUBMIT BUTTON -->
  <div class="text-center">
    <button type="submit" class="btn btn-success submitButton">
      <span class="optionLabel">Make Order</span>
    </button>
  </div>
</form>

<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/detectVoice.js') }}"
></script>

{% endblock %}
