{% extends "base.html" %} {% block title %}Login{% endblock %} {% block head %}
{% endblock %} {% block content %}

<form method="post" class="formBox mx-auto">
  <h1 class="mainHeader">Login</h3>

  <div class="form-group textEntry mx-auto">
    <label for="username">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      required="required"
    />
  </div>

  <div class="form-group textEntry mx-auto">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      required="required"
    />
  </div>

  <div class="form-group textEntry mx-auto">
    <label for="machineId">Machine ID</label>
    <input type="text" class="form-control" id="machineId" name="machineId" />
  </div>

  <br />
  <div class="form-check textEntry mx-auto">
    <input
      class="form-check-input"
      type="radio"
      name="role"
      id="roleRadio1"
      value="machine"
    />
    <label class="form-check-label" for="roleRadio1"> I am main machine </label>
  </div>
  <div class="form-check textEntry mx-auto">
    <input
      class="form-check-input"
      type="radio"
      name="role"
      value="maintainer"
      id="roleRadio2"
      checked
    />
    <label class="form-check-label" for="roleRadio2"> I am maintainer </label>
  </div>

  <button
    type="submit"
    class="btn btn-primary btn-lg d-block mainButton"
    id="login"
  >
    login
  </button>

  <!-- Forgot password ? -->
</form>
<a href="http://127.0.0.1:5000/register"
  ><p class="text-center">Don't have an account? Register here</p> </a
>

{% endblock %}
