{% extends "base.html" %} {% block title %}Payment{% endblock %} {% block head
%} {% endblock %} {% block content %}

<div class="text-center my-2">
  <h3>Your Order:</h3>
  <h5>Flavor: {{drink.capitalize()}}</h5>
  <h6>Total : ${{value}}</h6>
  <img src="static/images/barcode.png" alt="payment barcode" height="300px" />
  <div>
    <form action="/cancelOrder" method="post">
      <button class="btn btn-danger">Cancel Order</button>
    </form>
    <form action="/controller" class="mt-3" method="post">
      <button class="btn btn-info" id="order">Continue</button>
    </form>
    <i>Click "Continue" when you're done with your payment</i>
  </div>
</div>

{% endblock %}
