{% extends "base.html" %} {% block title %}Payment{% endblock %} {% block head
%} {% endblock %} {% block content %}

<div class="text-center my-2">
  <h3>Your Order:</h3>
  <h5>Flavor: {{drink.capitalize()}}</h5>
  <h6>Total : ${{value}}</h6>
  <img src="static/images/barcode.png" alt="payment barcode" height="300px" />
  <div>
    <form action="/cancelOrder" method="post">
      <button class="btn btn-danger">Cancel Order</button>
    </form>
  </div>

  <script
    type="text/javascript"
    src="{{ url_for('static', filename='js/detectPayment.js') }}"
  ></script>

  {% endblock %}
</div>
